# Begin /boot/grub/grub.cfg

# ---------------- SETTAGGI INIZIALI ----------------------------------

# Settaggi variabili
set default=0
set timeout=10

# Moduli
insmod part_gpt
insmod gfxterm
insmod ext2
insmod efi_gop
insmod efi_uga
insmod png
insmod loopback
insmod iso9660

# Parte grafica
if loadfont /grub/fonts/unicode.pf2; then
  terminal_output gfxterm
fi

background_image sfondo.png
set menu_color_normal=light-blue/black
set menu_color_highlight=light-green/black

# ++++++++++++++++++++++ OPZIONI +++++++++++++++++++++++++++++++++++++++++++++++
# ---------------------- DREAMS - LINUX FROM SCRATCH ---------------------------

# Dreams Linux from Scratch
menuentry " Dreams ~ Linux from Scratch" {

    echo "110001010100011110001010110000110011000101010010001000111000101010001010110001100111110001010"
    echo "11001 11 0001110 110001110 1100 0011001 1100011100 0000 0 11 10 0011 010101 1100 111011110011"
    echo "10  1  1  1 100   011 01    10   100 1   11 0110    11    1   0  001  000 1  00   11 011  111"
    echo "0   1  0    01    11  0                                       1   10   11 1  0    1   10   11"
    echo "1   0       1     1   0    OOOO  OOOO OOOO  OOO  O   O OOOO        1    0    1    0    1    1"
    echo "0           1         1    O   O O  O O    O   O OO OO O           0    1         1         1"
    echo "1                     0    O   O OOOO OOO  OOOOO O O O  OO              0                   0"
    echo "0                          O   O O O  O    O   O O   O    O                                 1"
    echo "1                          OOOO  O  O OOOO O   O O   O OOOO                                 1"
    echo "1                                                                                           1"
    echo "0                               Linux from Scratch 12.3                                     0"
    echo "0                                                                                           0"
    echo "1                                                                                           0"
    echo "1       Dreams_LFS si sta avviando, i robottini caricano il kernel... attendere ^_^         1"
    echo "0                                                                                           0"
    echo "110001010100011110001010110000110011000101010010001000111000101010001010110001100111110001010"
    echo "00101 1011011110 0110011111101111101001000010101001010101101111010101010101101111011011111011"
    echo "11000 0110001000 1100110101001011101001001010111011111101101111010101011101101111011011011010"
    echo "00110  110001001 10011100 00010111111100010101010110 0000111010100110111101101011110111010111"
    echo "0001   001110110 10101010 01011000101001111100101101 1010010000111010100000101000110100000110"
    echo "1100   1001000 1 01010001 10110000000111101000011000 0110000000 01001101010000100011000100111"
    echo "0001   011 111 0 0110011  10111010100001000010110001 0101010101 01001000010010000001000101 10"
    echo "00 1   100 0 0 0 10 011   11100100001110000111000 11 0 01110101 1001001111101001010 01011  11"
    echo "11 0   111 1 0 0 11 100   100011001110 01111111 0 10 1 01000111 10100 101111101 010 01111  10"
    echo "10 1   0 0 0 0 1 10 101   111001001110 0111 110 1 10 1 001 001  0 111 10 1 1111 100 00101  01"
    echo "0  1   0 1 1   1 10 1 1   110111111111 0110 101 1 0  1 110 0 0  1 101 10 1 1101 100 1010   00"
    echo "0  0   1 1 0   1 11 1 1   011011 10101 1 00 100   0  0 101 1 1  1  01 01 0 1100 110 11 0   01"
    echo "1      1   0   1 00 0 0   010000 11 00 1 01 001   0  0 01  1 0  0  01  1 0 0 00 11  11 0   00"
    echo "0      1   0     10 1 0   010100 10 01 1 01 000   0  0 00  1 1  1  01  1 0 0 01 10  10 1   11"
    echo "1      0   1     11   0   1 01 0 10 0  1 0  001   1  1 10  1 0  0  10    0 0 0  10  1  1   10"
    echo "1      0   0     10   1   0 10 1 10 1  0 1  110   1  1 00  0 0  1  1     0 1    1   1  1    1"
    echo "0      1   0     0    1   1 10   1  1  0 1   11      1 1   1    0  1     1 1    0   1  0    0"
    echo "1          1     0    0   1  0   0  1  0     1       0 1   0       1     1 1    0      0    1"
    echo "0          1     1    1   0  1      1  1     1         0           1     0      0      0    1"
    echo "1                1           0      1        1         0                 0             0    0"
    echo "1                                   1                                    0                  1"

    sleep 2
    linux /EFI/Dreams-LFS/vmlinuz_Dreams-LFS root=/dev/sda5 rw
}

submenu " Dreams ~ Linux from Scratch - OPZIONI EXTRA" {
  set menu_color_normal=light-blue/black
  set menu_color_highlight=light-green/black

 # Variabili
  set dreams_lfs="/EFI/Dreams-LFS"
  set root_dreams="/dev/sda5"

 # Versione runlevel 3
  menuentry " Dreams ~ Linux from Scratch - runlevel 3" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS root=$root_dreams rw 3
  }
  
 # Versione init /bin/bash
  menuentry " Dreams ~ Linux from Scratch - /bin/bash" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS root=$root_dreams rw init=/bin/bash
  }

 # Versione snapshot
  menuentry " Dreams ~ Linux from Scratch - Snapshot" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS root=$root_dreams rootflags=subvol=Dreams_LFS-Snapshot rw
  }

 # Avvio dal backup sola lettura
  menuentry " Dreams ~ Linux from Scratch - RO Send/Receive" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS root=/dev/sdc1 rootflags=subvol=Dreams_LFS-Snapshot ro 3
  }

 # Nomodeset
  menuentry " Dreams ~ Linux from Scratch - Nomodeset" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS root=$root_dreams rw nomodeset
  }

 # Versione BACKUP - OLD
  menuentry " Dreams ~ Linux from Scratch - Kernel .old" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS.old root=$root_dreams rw
  }

 # Versione sperimentale (Test)
  menuentry " Dreams ~ Sperimentale (Linux Next)" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS_Next root=$root_dreams rw
  }

 # Compatibilita' (con initrd da creare)
 # menuentry " Dreams ~ Linux from Scratch - Compatibility" {
 #   linux $dreams_lfs/vmlinuz_Dreams-LFS root=$root_dreams rw
 #   initrd $dreams_lfs/initramfs_Dreams-LFS
 # }

 # Versione iso Copy-to-ram (Da sistemare)
  menuentry " Dreams ~ Linux from Scratch - ISO Copytoram" {
    search --no-floppy --label --set=iso_part ISO_VM
    loopback loop ($iso_part)$iso_dir/Dreams_LFS.iso
    linux (loop)/boot/EFI/Dreams-LFS/vmlinuz_Dreams-LFS root=/dev/ram0 copytoram
    initrd (loop)/boot/EFI/Dreams-LFS/initramfs_Dreams-LFS.img
  }

}

# --------------------------------------------------------------------------------------------------

# Ambienti isolati nel sistema Dreams-LFS
submenu " Ambienti Isolati in Dreams-LFS" {
 # Colori
  set menu_color_normal=light-blue/black
  set menu_color_highlight=light-green/black

 # Variabili
  set ambienti_isolati="/EFI/Ambienti_Isolati"
  set root_ambienti="/dev/sdc2"

 # Questa prima voce cambia in base a cio che mi e' utile ultimamente
  menuentry " MOMENTANEO" {
    linux $ambienti_isolati/vmlinuz-momentaneo root=$root_ambienti rootflags=subvol=@Momentaneo rw
    initrd $ambienti_isolati/initrd-momentaneo.img
  }

  menuentry " Gentoo" {
    linux $dreams_lfs/vmlinuz_Dreams-LFS root=$root_ambienti rootflags=subvol=@Gentoo rw
  }

 # menuentry " Exherbo" { # WIP
 #   true
 # }

 # menuentry " Void" { # WIP
 #   true
 # }

 # menuentry " Crux" { # WIP
 #   true
 # }

  menuentry " OpenSUSE" {
    linux $ambienti_isolati/vmlinuz-suse root=$root_ambienti rootflags=subvol=@OpenSUSE rw rd.timeout=10
    initrd $ambienti_isolati/initrd-suse
  }

 # menuentry " Alpine" { # WIP
 #   true
 # }

 # menuentry " Debian" { # WIP
 #   true
 # }

  menuentry " Fedora" {
    linux $ambienti_isolati/vmlinuz-fedora root=$root_ambienti rootflags=subvol=@Fedora rw
    initrd $ambienti_isolati/initramfs-fedora.img
  }

 # menuentry "Artix" { # WIP
 #   true
 # }

 # menuentry " Slackware" { # WIP
 #   true
 # }

  menuentry " NixOS" {
    linux $ambienti_isolati/vmlinuz-nixos init=/nix/store/lpqc4b4v9z4r2jdzqwjszyvy8wzm3psl-nixos-system-nixos-25.05.808338.ad7196ae55c2/init root=$root_ambienti rootflags=subvol=@NixOS rw
    initrd $ambienti_isolati/initrd-nixos.img

  }
  
}

# -------------------------------- WINDOWS ----------------------------------------------------
# Windows 10

menuentry " Windows 10 - Home" {
  chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}

# -------------------------------- ISO LIVE LOOPBACK -------------------------------------------

submenu " Iso ~ Loopback" {
 # Colori
  set menu_color_normal=light-blue/black
  set menu_color_highlight=light-green/black

 # Moduli per iso
  insmod loopback
  insmod iso9660

 # Variabili
  set iso_label="ISO_VM"
  set iso_dir="/ISO"

   #System rescue
   menuentry " System Rescue" {
     search --no-floppy --label --set=iso_part $iso_label
     set iso_path="$iso_dir/System_Rescue.iso"
     loopback loop ($iso_part)$iso_dir/System_Rescue.iso
     linux (loop)/sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE1103 iomem=relaxed img_dev=/dev/sdc5 img_loop=$iso_dir/System_Rescue.iso copytoram
     initrd (loop)/sysresccd/boot/x86_64/sysresccd.img
   }
   
   #System rescue con persistenza
   menuentry " System Rescue - Persistente" {
     search --no-floppy --label --set=iso_part $iso_label
     set iso_path="$iso_dir/System_Rescue.iso"
     loopback loop ($iso_part)$iso_path
     linux (loop)/sysresccd/boot/x86_64/vmlinuz archisobasedir=sysresccd archisolabel=RESCUE1103 cow_label=ISO_VM cow_directory=$iso_dir/Persistenza iomem=relaxed img_dev=/dev/sdc5 img_loop=$iso_dir/System_Rescue.iso copytoram
     initrd (loop)/sysresccd/boot/x86_64/sysresccd.img
   }
  
  # Gentoo
  menuentry " Gentoo" {
     insmod gzio
     search --no-floppy --label --set=iso_part $iso_label
     #set iso_path="$iso_dir/Gentoo.iso"
     loopback loop ($iso_part)$iso_dir/Gentoo.iso
     linux (loop)/boot/gentoo cdroot root=live:CDLABEL=gentoo-amd64-livegui iso-scan/filename=$iso_dir/Gentoo.iso rd.live.dir=/ rd.live.squashimg=image.squashfs
     initrd (loop)/boot/gentoo.igz
  }

  # Nix OS
 # menuentry " Nix OS" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   loopback loop ($iso_part)$iso_dir/NixOS.iso
 #   linux (loop)/boot/nix/store/vsd1al8id95fp36drcmdr2jiryb42ks-linux-6.16/bzImage copytoram
 #   initrd (loop)/boot/nix/store/w5kcm8d13c448a79v33vzbfqf4xvqfnj-initrd-linux-6.16/initrd
 # }
 
   # Debian
  menuentry " Debian" {
    search --no-floppy --label --set=iso_part $iso_label
    set iso_path="/ISO/Debian.iso"
    loopback loop ($iso_part)$iso_dir/Debian.iso
    linux (loop)/live/vmlinuz-6.12.38+deb13-amd64 boot=live components quiet splash findiso=${iso_path} copytoram
    initrd (loop)/live/initrd.img-6.12.38+deb13-amd64
  }

  # Mint
  menuentry " Mint" {
    search --no-floppy --label --set=iso_part $iso_label
    set iso_path="/ISO/Mint.iso"
    loopback loop ($iso_part)$iso_dir/Mint.iso
    linux (loop)/casper/vmlinuz copytoram boot=casper username=mint hostname=mint iso-scan/filename=$iso_dir/Mint.iso quiet splash
    initrd (loop)/casper/initrd.lz
  }

  # Ufficio Zero
  menuentry " Ufficio Zero" {
    search --no-floppy --label --set=iso_part $iso_label
    set iso_path="/ISO/Ufficio_Zero.iso"
    loopback loop ($iso_part)$iso_dir/Ufficio_Zero.iso
    linux (loop)/casper/vmlinuz copytoram boot=casper username=mint hostname=mint iso-scan/filename=$iso_dir/Ufficio_Zero.iso quiet splash
    initrd (loop)/casper/initrd.lz
  }
 
   # OpenSuse
  menuentry " OpenSuse" {
    search --no-floppy --label --set=iso_part $iso_label
    set iso_path="/ISO/OpenSuse.iso"
    loopback loop ($iso_part)$iso_dir/OpenSuse.iso
    linux (loop)/boot/x86_64/loader/linux ${extra_cmdline} ${isoboot} splash=silent quiet systemd.show_status=yes  root=live:CDLABEL=openSUSE_Tumbleweed_XFCE_Live rd.live.image rd.live.overlay.persistent rd.live.overlay.cowfs=ext4 copytoram
    initrd (loop)/boot/x86_64/loader/initrd
  }
 
  # Kali
  menuentry " Kali" {
    search --no-floppy --label --set=iso_part $iso_label
    set iso_path="/ISO/Kali.iso"
    loopback loop ($iso_part)$iso_dir/Kali.iso
    linux (loop)/live/vmlinuz-6.12.25-amd64 boot=live components quiet splash noeject findiso=${iso_path} copytoram
    initrd (loop)/live/initrd.img-6.12.25-amd64
  }
 
   # Parrot
 # menuentry " Parrot" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   set iso_path="/ISO/Parrot.iso"
 #   loopback loop ($iso_part)$iso_dir/Parrot.iso
 #   linux (loop)/live/vmlinuz boot=live hostname=parrot quiet splash components noautomount noeject copytoram
 #   initrd (loop)/live/initrd.img
 # }
 
   # Guix
 # menuentry " Guix" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   set iso_path="/ISO/Guix.iso"
 #   loopback loop ($iso_part)$iso_dir/Guix.iso
 #   linux (loop)/boot/METTI_NOME_KERNEL copytoram
 #   initrd (loop)/boot/INITRAMFS
 # }
 
  # Nobara
  # menuentry " Nobara" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   set iso_path="/ISO/Nobara.iso"
 #   loopback loop ($iso_part)$iso_dir/Nobara.iso
 #   linux (loop)/images/pxeboot/vmlinuz root=live:CDLABEL=Nobara-42  rd.live.image quiet rhgb copytoram
 #   initrd (loop)/images/pxeboot/initrd.img
 # }
 
   # Ubuntu
   menuentry " Ubuntu" {
     search --no-floppy --set=iso_part --label $iso_label
     set iso_path="/ISO/Ubuntu.iso"
     loopback loop ($iso_part)$iso_dir/Ubuntu.iso
     linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$iso_dir/Ubuntu.iso noeject noprompt toram
     initrd (loop)/casper/initrd
   }
 
   # POP OS
 # menuentry " Pop OS" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   set iso_path="/ISO/POP_OS.iso"
 #   loopback loop ($iso_part)$iso_dir/POP_OS.iso
 #   linux (loop)/casper_pop-os_22.04_amd64_intel_debug_1290/vmlinuz.efi boot=casper live-media-path=/casper_pop-os_22.04_amd64_intel_debug_1290 hostname=pop-os username=pop-os noprompt  ---
 #   initrd (loop)/casper_pop-os_22.04_amd64_intel_debug_1290/initrd.gz
 # }
 
   # Alpine
 # menuentry " Alpine" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   set iso_path="/ISO/Alpine.iso"
 #   loopback loop ($iso_part)$iso_dir/Alpine.iso
 #   linux (loop)/boot/vmlinuz-lts modules=loop,squashfs,sd-mod,usb-storage quiet  copytoram
 #   initrd (loop)/boot/intel-ucode.img /boot/amd-ucode.img /boot/initramfs-lts
 # }
 
   # Void
 # menuentry " Void" {
 #   search --no-floppy --label --set=iso_part $iso_label
 #   set iso_path="/ISO/Void.iso"
 #   loopback loop ($iso_part)$iso_dir/Void.iso
 #   linux (loop)/boot/vmlinuz root=live:CDLABEL=VOID_LIVE ro init=/sbin/init rd.luks=0 rd.md=0 rd.dm=0 loglevel=4 gpt add_efi_memmap console.unicode=1 vconsole.keymap=us locale.LANG=en_US.UTF-8  rd.live.overlay.overlayfs=1 copytoram
 #   initrd (loop)/boot/initrd
 # }
 
   # Tails
  menuentry " Tails" {
    search --no-floppy --label --set=iso_part $iso_label
    set iso_path="/ISO/Tails.iso"
    loopback loop ($iso_part)$iso_dir/Tails.iso
    linux (loop)/live/vmlinuz initrd=/live/initrd.img boot=live config live-media=removable nopersistence noprompt timezone=Etc/UTC splash noautologin module=Tails slab_nomerge slub_debug=FZ mce=0 vsyscall=none init_on_free=1 mds=full,nosmt page_alloc.shuffle=1 randomize_kstack_offset=on efi_pstore.pstore_disable=1 erst_disable spec_store_bypass_disable=on FSUUID=${rootuuid} quiet copytoram
    initrd (loop)/live/initrd.img
  }
  
  # Garuda (WIP - Inserirne altre)

}

menuentry "------------------------------" { true }

# +++++++++++++ OPZIONI VARIE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

menuentry " EFI Shell" {
  insmod fat
  insmod chain
  terminal_output console
  chainloader /EFI/Shell_Full.efi
}

menuentry " Memtest86+" {
  insmod fat
  insmod chain
  chainloader /EFI/memtest.efi64
}

menuentry " Riavvia" {
  reboot
}

menuentry " Spegni" {
  halt
}
